<div class="row">
                            <div class="col align-items-center">
								<canvas style="height:250px;" id="canvas-${id}" class="rounded img-fluid mx-auto d-block pl-3" alt="..."></canvas>
                            </div>
                            <div class="col-7 pl-4 pr-4">
                                <div class="row align-items-center">
                                    <h4><span class="badge badge-secondary">Info</span><%= @document.title %></h4>
                                </div>
                                <div class="row align-items-center">
    	                            <div class="col-4 text-center"><%= button_to 'Like', document_mylike_path(@document), method: :post, class: "btn btn-sm btn-success" %><i class="fa fa-thumbs-up"></i></button> </div>
    	                            <div class="col-4 text-center"><%= button_to 'Dislike', document_mydislike_path(@document), method: :post, class: "btn btn-sm btn-danger" %><i class="fa fa-thumbs-down"></i></button></div>
    	                            <div class="col-4 text-center"><%= button_to 'Preferiti', document_preferiti_index_path(@document), method: :post, class: "btn btn-sm btn-primary" %><i class="fa fa-heart"></i></button></div>
    	                            <div class="col-4 text-center">
										<% if Like.where(document: @document,student: @student).count == 1 %>
											<% if Like.where(document: @document,student: @student).first.val == true %>
											You like this document
											<% else %>
											You don't like this document
											<% end %>
										<% end %>
    	                            </div>
                                </div>
                                <hr>
                                <div class="row align-items-center">
                                    <div class="col text-left">Proprietario</div>
                                    <div class="col text-right"><%= @document.creator %></div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col text-left text-success">Like</div>
                                    <div id="likes" class="col text-right text-success"><%= @document.likes.where(:val => true).count %> <%= (@document.likes.where(:val => true).count) == 1 ? 'Like' : 'Likes'%></div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col text-left text-danger">Dislike</div>
                                    <div id="dislikes" class="col text-right text-danger"><%= @document.likes.where(:val => false).count %> <%= (@document.likes.where(:val => false).count) == 1 ? 'Dislike' : 'Dislikes'%></div>
                                </div>
                            </div>
                        </div>
